
.calc {
    width: 100%;
    display: flex;
    flex-direction: column;

    

    &__keypad {
        display: grid;
        background-color: aqua;
        grid-template-areas: 
            "seven eight nine divide" 
            "four five six x"
            "one two three minus"
            "zero zero dot plus"
            "equal equal equal equal" 
            }
}

.button {
    border: 2px black solid;
}