* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
  }

  body{
    background-image: url("../images/watercolour-bluyellow.jpg");
    transition: 400ms ease;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }



