@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.arena {
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  height: 80vh;
  width: 80vw;
  margin: 10px;
  border-radius: 5px;
  border: black solid 2px;
  backdrop-filter: blur;
  -webkit-backdrop-filter: blur(1px);
}
.arena * {
  border-radius: 5px;
}

.snakeHead {
  z-index: 2;
}

.ticTac {
  z-index: 3;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .ticTac {
    font-size: 150%;
  }
}
@media screen and (max-height: 450px) {
  .ticTac {
    font-size: 100%;
  }
}
@media screen and (max-width: 481px) {
  .ticTac {
    font-size: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  transition: 5s;
  opacity: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/blue-painting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 15vh;
  width: 95vw;
  justify-items: center;
  align-items: center;
  font-weight: 200;
}

.restart {
  display: none;
  cursor: pointer;
  font-size: 7vw;
  transition: 300ms;
}
.restart :hover {
  transition: 300ms;
  font-size: 8vw;
}

@media screen and (min-width: 481px) {
  .score {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .score {
    font-size: 45px;
  }
}
@media screen and (min-width: 991px) {
  .score {
    font-size: 65px;
  }
}
.logo {
  width: 100%;
}

.logo__link__name {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 0.35em;
}

svg {
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
}

a {
  color: rgba(16, 15, 15, 0.926);
  text-decoration: none;
}

a:hover {
  color: rgba(16, 15, 15, 0.926);
  text-decoration: none;
  cursor: pointer;
}

.fa-primary {
  opacity: 0.5;
}

@media screen and (min-width: 481px) {
  svg {
    width: 2.3rem;
    height: 2.3rem;
  }

  .logo__link__name {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  svg {
    width: 3.5rem;
    height: 3.5rem;
  }

  .logo__link__name {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 991px) {
  svg {
    width: 4.2rem;
    height: 4.2rem;
  }

  .logo__link__name {
    font-size: 3rem;
  }
}
@media screen and (max-height: 450px) {
  .logo__link__name {
    font-size: 1.5rem;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}