
// Introduction Section Components
.main__intro{
  &__title {
    font-size: 7vw;
  }
}

// About Me Section Components
.main__about-me {
  
  &__title {
    font-size: 6vw;
    margin-bottom: 100px;  
  }

  &__paragraph {
    width: 60vh;
    height: 500px;
  }
}
  

// My Projects Section  Components
.main__my-projects {

  &__title {
    font-size: 6vw;
    margin-bottom: 600px;
  }
}

// Contact Me Section Components
.main__contact-me {

  &__title {
    font-size: 6vw;
    margin-bottom: 600px;
  }  
}