
// Introduction Section Components
.main__intro {
  &__title {
    font-size: 11vw;
    color: $color-title;
    font-weight: 300;
  }
}

// About Me Section Components
.main__about-me {
  
  
  &__title {
    font-size: 8vw;
    margin-bottom: 10px;
    color: $color-title;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 1px;
     
  }

  &__h-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
    scroll-snap-type:x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  
    &::-webkit-scrollbar-thumb {
      display: none ;
    }

    &__description {
      
      
      height: fit-content;
      width: 100%;
      flex-shrink: 0;
      scroll-snap-align: start;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;

      &__title {
        color: $color-title;
        text-align: center;
        font-size: 5vw;
        font-weight: 250;
      }
      
     

      &__text {
        color: $color-title;
        height: fit-content;
        width: 74%;
        font-size: 5vw;
        line-height: 2em;
        text-align: center;
        font-weight: 300;
      }
    
    }

    &__tech-stack {
      
      font-size: 20vw;
      height: fit-content;
      display: flex;
      justify-content: center;
      width: 100%;
      flex-shrink: 0;
      margin-left: 5%;
      border-radius: 10px;
      scroll-snap-align: start;
      margin-bottom: 20%;

      &__box {
        color: $color-title;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.7em;
        grid-auto-rows: 1.3em;
        width: 74%;

        &__symbol {
          text-align: center;
        }

        &__title {
          grid-column: span 2;
          text-align: center;
          margin:10px;
          line-height: 1em;
          font-size: 5vw;
          font-weight: 250;
        }
      } 
    }

    
  }
}

@media screen and (min-width: 481px) {
  .main__about-me {
    
    
    &__h-container {
      &__description {
        &__text {
          font-size: 25px;
          
        }
      }

      &__tech-stack {
        font-size: 100px;
        &__box {
          grid-template-columns: 1fr 1fr 1fr;
          
          &__title {
            grid-column: span 3;
          }
        }
      }
  
    }
  }
}



@media screen and (min-width: 768px) {
  .main__about-me {
    &__title {
      margin-left: 5rem;
    }
    
    &__h-container {
      &__description {
        &__title {
          font-size: 3.5vw;
        }

        &__text {
          font-size: 3.5vw;
          margin-left: 5rem;
        }
      }

      &__tech-stack {
        &__box {
          grid-template-columns: 1fr 1fr 1fr;
          margin-left: 5rem;
          &__title {
            grid-column: span 3;
            font-size: 3.5vw;
          }
        }
      }

       
    }
  }
}



@media screen and (min-width: 991px) {
  .main__about-me {
    
    
    &__h-container {
      &__description {
        &__text {
          font-size: 3.15vw;
          
        }
      }

      &__tech-stack {
        font-size: 135px;
        margin-top: auto;
        &__box {
          grid-template-columns: 1fr 1fr 1fr;
          
          &__title {
            grid-column: span 3;
          }
        }
      }
  
    }
  }
}

@media screen and (min-width: 1200px) {
  .main__about-me {
    
    
    &__h-container {
      &__description {
        &__text {
          font-size: 35px;
          
        }
      }
  
    }
  }
}
  

// My Projects Section  Components
.main__my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 8vw;
    margin-bottom: 10px;
    color: $color-title;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  &__h-container {
    margin-bottom: 100px;
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
    scroll-snap-type:x mandatory;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: white dashed 5px;

    &::-webkit-scrollbar {
      display: none;
  }
  
    &::-webkit-scrollbar-thumb {
      display: none ;
    }
    

    &__column {
      height: 100%;
      line-height: 2em;
      width: 100%;
      flex-shrink: 0;
      display: grid;
      grid-template-columns: 1fr;
      scroll-snap-align: start;
      align-items: center;
      justify-items: center;

      &__project-box {
        background-color: $color-title;
        width: 220px;
        height: 220px;
        margin: 1px;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main__my-projects {

    &__h-container {

      &__column {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .main__my-projects {

    &__h-container {

      &__column {
        width: 33.33%;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .main__my-projects {

    &__h-container {

      &__column {
        width: 25%;
      }
    }
  }
}

// Contact Me Section Components
.main__contact-me {

  &__title {
    font-size: 8vw;
    margin-bottom: 10px;
    color: $color-title;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  &__text {
    font-size: 5vw;
    font-weight: 250;
    font-style: italic;
    margin-bottom: auto;
    color: $color-title;
    line-height: 2em;
    width: 74%;
    margin-bottom: 50px;

  }
  
  &__symbol-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vw;
    width: 70vw;
    margin-bottom: auto;
    font-size: 25vw;
    color: $color-title;
    align-items: center;
    justify-items: center;
    
    

    * {
      transition: 300ms ease;
      text-decoration: none;
      &:hover {
        font-size: larger;
        transition: 300ms ease;  
      }

    }
  }
}
// hover acts weird :(

@media screen and (min-width: 480px) {
  .main__contact-me {

    &__text {
      font-size: 4.5vw;  
    }

    &__symbol-container {
      font-size: 110px;
      height: 285px;
      width: 285px;
    }
  }
}

@media screen and (min-width: 768px) {
  .main__contact-me {

    

    &__text {
      font-size: 3.8vw;  
    }

    &__symbol-container {
      font-size: 110px;
      height: 285px;
      width: 70%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
