
// Introduction Section Components
.main__intro {
  &__title {
    font-size: 7vw;
    color: $color-title;
  }
}

// About Me Section Components
.main__about-me {
  
  &__title {
    font-size: 6vw;
    margin-bottom: auto;
    color: $color-title;  
  }

  &__h-container {
    margin-bottom: 100px;
    width: 74%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
    border-radius: 20px;
    z-index: 1;

    &__description {
      color: $color-text;
      font-size: 3.2vw;
      height: 100%;
      line-height: 2em;
      width: 100%;
      flex-shrink: 0;
      border-radius: 10px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }

    &__tech-stack {
      color: $color-text;
      font-size: 7vw;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      flex-shrink: 0;
      margin-left: 5%;
      border-radius: 10px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);

      &__symbol {
        text-align: center;
      }
      
    }

    &__skills {
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      margin-left: 5%;
      border-radius: 10px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }
  }
}

@media screen and (min-width: 768px) {
  .main__about-me__h-container {

    &__description {
      font-size: 2.5vw;
    }
  }
}
  

// My Projects Section  Components
.main__my-projects {

  &__title {
    font-size: 6vw;
    margin-bottom: auto;
    color: $color-title;
  }
}

// Contact Me Section Components
.main__contact-me {

  &__title {
    font-size: 6vw;
    margin-bottom: 600px;
    color: $color-title;
  }  
}

