// Layout/setup for the main section elements of the body

html {
    height: 100%;
    // scroll-behavior: smooth;  didn;t work :(
}

body {
    background-image: url("images/pastel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden;
    min-height: 800px;
    
    
    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    
}

.main {

    margin-left: 5rem;
    height: 100%;
    scroll-snap-type: y mandatory;
    


    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        

    }

    &__about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
    }

        

    &__my-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
         
    }

    &__contact-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
       
    }

}

@media screen and (min-width: 768px) {
    .main {
        &__about-me {
            margin-left: -5rem;
            width: 100vw;
        }        
    }
}


