@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

.main__intro__title {
  font-size: 11vw;
  color: white;
  font-weight: 300;
}

.main__about-me__title {
  font-size: 8vw;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.main__about-me__h-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  scroll-snap-type: x mandatory;
}
.main__about-me__h-container::-webkit-scrollbar {
  display: none;
}
.main__about-me__h-container::-webkit-scrollbar-thumb {
  display: none;
}
.main__about-me__h-container__description {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.main__about-me__h-container__description__title {
  color: white;
  text-align: center;
  font-size: 5vw;
  font-weight: 250;
}
.main__about-me__h-container__description__text {
  color: white;
  height: fit-content;
  width: 74%;
  font-size: 5vw;
  line-height: 2em;
  text-align: center;
  font-weight: 300;
}
.main__about-me__h-container__tech-stack {
  font-size: 20vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  margin-left: 5%;
  border-radius: 10px;
  scroll-snap-align: start;
  margin-bottom: 20%;
}
.main__about-me__h-container__tech-stack__box {
  color: white;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7em;
  grid-auto-rows: 1.3em;
  width: 74%;
}
.main__about-me__h-container__tech-stack__box__symbol {
  text-align: center;
}
.main__about-me__h-container__tech-stack__box__title {
  grid-column: span 2;
  text-align: center;
  margin: 10px;
  line-height: 1em;
  font-size: 5vw;
  font-weight: 250;
}

@media screen and (min-width: 481px) {
  .main__about-me__h-container__description__text {
    font-size: 25px;
  }
  .main__about-me__h-container__tech-stack {
    font-size: 100px;
  }
  .main__about-me__h-container__tech-stack__box {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__about-me__h-container__tech-stack__box__title {
    grid-column: span 3;
  }
}
@media screen and (min-width: 768px) {
  .main__about-me__title {
    margin-left: 5rem;
  }
  .main__about-me__h-container__description__title {
    font-size: 3.5vw;
  }
  .main__about-me__h-container__description__text {
    font-size: 3.5vw;
    margin-left: 5rem;
  }
  .main__about-me__h-container__tech-stack__box {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5rem;
  }
  .main__about-me__h-container__tech-stack__box__title {
    grid-column: span 3;
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 991px) {
  .main__about-me__h-container__description__text {
    font-size: 3.15vw;
  }
  .main__about-me__h-container__tech-stack {
    font-size: 135px;
    margin-top: auto;
  }
  .main__about-me__h-container__tech-stack__box {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__about-me__h-container__tech-stack__box__title {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1200px) {
  .main__about-me__h-container__description__text {
    font-size: 35px;
  }
}
.main__my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__my-projects__title {
  font-size: 8vw;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.main__my-projects__h-container {
  margin-bottom: 100px;
  width: 80%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: auto;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  scroll-snap-type: x mandatory;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: white dashed 5px;
}
.main__my-projects__h-container::-webkit-scrollbar {
  display: none;
}
.main__my-projects__h-container::-webkit-scrollbar-thumb {
  display: none;
}
.main__my-projects__h-container__column {
  height: 100%;
  line-height: 2em;
  width: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr;
  scroll-snap-align: start;
  align-items: center;
  justify-items: center;
}
.main__my-projects__h-container__column__project-box {
  background-color: white;
  width: 220px;
  height: 220px;
  margin: 1px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .main__my-projects__h-container__column {
    width: 50%;
  }
}
@media screen and (min-width: 991px) {
  .main__my-projects__h-container__column {
    width: 33.33%;
  }
}
@media screen and (min-width: 1400px) {
  .main__my-projects__h-container__column {
    width: 25%;
  }
}
.main__contact-me__title {
  font-size: 8vw;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.main__contact-me__text {
  font-size: 5vw;
  font-weight: 250;
  font-style: italic;
  margin-bottom: auto;
  color: white;
  line-height: 2em;
  width: 74%;
  margin-bottom: 50px;
}
.main__contact-me__symbol-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vw;
  width: 70vw;
  margin-bottom: auto;
  font-size: 25vw;
  color: white;
  align-items: center;
  justify-items: center;
}
.main__contact-me__symbol-container * {
  transition: 300ms ease;
  text-decoration: none;
}
.main__contact-me__symbol-container *:hover {
  font-size: larger;
  transition: 300ms ease;
}

@media screen and (min-width: 480px) {
  .main__contact-me__text {
    font-size: 4.5vw;
  }
  .main__contact-me__symbol-container {
    font-size: 110px;
    height: 285px;
    width: 285px;
  }
}
@media screen and (min-width: 768px) {
  .main__contact-me__text {
    font-size: 3.8vw;
  }
  .main__contact-me__symbol-container {
    font-size: 110px;
    height: 285px;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
html {
  height: 100%;
}

body {
  background-image: url("images/pastel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  height: 100%;
  overflow-x: hidden;
  min-height: 800px;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-thumb {
  display: none;
}

.main {
  margin-left: 5rem;
  height: 100%;
  scroll-snap-type: y mandatory;
}
.main__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main__about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.main__my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main__contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

@media screen and (min-width: 768px) {
  .main__about-me {
    margin-left: -5rem;
    width: 100vw;
  }
}
.navbar {
  position: fixed;
  overflow: scroll;
  transition: 600ms ease;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 2;
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar::-webkit-scrollbar-thumb {
  display: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.navbar-nav .nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms ease;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: white;
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.nav-link .link-text {
  display: none;
  margin-left: 1rem;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  color: white;
}

.fa-group * {
  transition: 600ms ease;
}
.fa-group .fa-primary {
  color: #6c6ce2;
}
.fa-group .fa-secondary {
  color: white;
  transition: 600ms ease;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: 600ms ease;
}
.logo .logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 550ms ease;
}

/* Small screens */
@media screen and (max-width: 767px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar .navbar-nav {
    flex-direction: row;
    width: 100vw;
  }
  .navbar .navbar-nav .logo {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }

  .main {
    margin-left: 0px;
  }
}
/* Large screens */
@media screen and (min-width: 768px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
}