@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 0.15rem;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: purple;
}

.main__intro__title {
  font-size: 7vw;
}

.main__about-me__title {
  font-size: 6vw;
  margin-bottom: 100px;
}
.main__about-me__paragraph {
  width: 60vh;
  height: 500px;
}

.main__my-projects__title {
  font-size: 6vw;
  margin-bottom: 600px;
}

.main__contact-me__title {
  font-size: 6vw;
  margin-bottom: 600px;
}

.main {
  margin-left: 5rem;
}
.main__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main__about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main__my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main__contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}